.badge{
    border-radius: 2rem;
    padding: 0.2rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.badge-ok{
    background-color: green;
}

.badge-warning{
    background-color: orange;
}

.badge-critical{
    background-color: red;
}

.button-reference{
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.2rem;
}

.button-reference:hover{
    background-color: white;
    color: green;
    cursor: pointer;
}