.range-slider {
    width: 100%;
}

.range-slider input {
    width: 100%;
}

.form-range {
    -webkit-appearance: none;
    width: 100%;
    height: 2rem;
    background: var(--color-background-2);
    outline: none;
    margin: 0.5rem 0 0.5rem 0;
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    background: var(--color-main);
    cursor: pointer;
    background-clip: padding-box;
    border: 4px double var(--color-main);
}

.form-range::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    background: var(--color-main);
    cursor: pointer;
    background-clip: padding-box;
    border-spacing: 4px;
    border: 4px double var(--color-main);
    border-radius: 0;
}

input:focus {
    /*outline: var(--color-main) solid 3px;*/
    outline: none;
    /*box-shadow: 0 0 0 3px var(--color-main);*/
}

label {
    width: 100%;
    margin-top: 1rem;
}

input[type=text],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
input[type=week],
input[type=password],
input[type=month],
input[type=email] ,
input[type=date] ,
input[type=datetime-local] ,
input[type=time] {
    border: 0px solid;
    border-top: 4px double transparent;
    border-bottom: 4px double var(--color-main);

    background-color: var(--color-background-2);
    color: var(--color-text);

    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
    font-family: monospace;

    transition: 200ms ease;
    width: 100%;
}

input[type=email]:invalid,
input[type=tel]:invalid{
    color: red;
}

.jsautonumberinput {
    display: flex;
    background-color: var(--color-background-2);
}

.jsautonumberinput span {
    display: block;
    width: 5%;
    padding: 0px;
    margin: 0px;
    background-clip: padding-box;
    border-right: 4px double var(--color-main);
}

.jsautonumberinput span button {
    width: 100%;
    text-align: center;
    font-family: monospace;
    /*font-size: large;*/
    margin: 0px;
    background-color: transparent;
    color: var(--color-main);
    border: none;
    height: 50%;
}

.jsautonumberinput span button:hover {
    cursor: pointer;
    background-color: var(--color-main);
    color: var(--color-text);
}

.jsautonumberinput input[type=number] {
    width: 95%;
    text-align: center;
    border-bottom: 4px double var(--color-main);
    border-right: 4px double var(--color-main);
}

/*---Remove Arrows---*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=button],
input[type=submit],
input[type=reset],
form button,
.form-button,
.actor{
    border: none;
    border-radius: 0.5rem;
    background-clip: padding-box;
    background-color: var(--color-main);
    color: var(--color-text-button);
    padding: 0.1rem;
    cursor: pointer;
    font-size: 22px;
    font-family: monospace;
    transition: 200ms ease;
    width: 100%;
}

.form-button{
    flex-shrink: 2;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
form button:hover,
.form-button:hover,
.actor:hover {
    color: var(--color-main);
    background-color: var(--color-background-1);
}

input[type=color] {
    color: var(--color-main);
    background-color: var(--color-main);
    border: 0px;
    border-top: 4px double var(--color-main);
    border-bottom: 4px double var(--color-main);
    background-clip: padding-box;
}

input[type=color]:hover {
    background-color: rgba(0, 0, 0, 0);
}

input[type=color]:focus {
    outline: none;
}

input[type=color]::after {
    /*Color Palette*/
    content: " \1f3a8";
}

.color-display{
    font-weight: 700;
    font-size: x-large;
    text-shadow: var(--color-main) 0.1rem 0.1rem;
    margin: 0.2rem;
    width: unset !important;
    background-color: transparent !important;
    border: 0px solid transparent !important;
}

input[type=checkbox].real-checkbox {
    display: none;
    cursor: pointer;
}

fieldset {
    flex-grow: 1;
    border: 0px solid;
    border-right: 1px solid var(--color-main);
    border-left: 1px solid var(--color-main);
    padding: 20px;
}

fieldset>legend {
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px var(--color-main);
}

input[type=file]::file-selector-button {
    border: none;
    border-top: 4px double var(--color-main);
    background-clip: padding-box;
    background-color: var(--color-main);
    color: var(--color-text-button);
    padding: 0.4rem;
    font-weight: 700;
}

input[type=file]::-ms-browse {
    border: none;
    border-top: 4px double var(--color-main);
    background-clip: padding-box;
    background-color: var(--color-main);
    color: var(--color-text-button);
    padding: 0.4rem;
    font-weight: 700;
}

input[type=file]::-webkit-file-upload-button {
    border: none;
    border-top: 4px double var(--color-main);
    background-clip: padding-box;
    background-color: var(--color-main);
    color: var(--color-text-button);
    padding: 0.4rem;
    font-weight: 700;
}


input[type=file]::file-selector-button:hover {
    border-color: rgba(0, 0, 0, 0);
    color: var(--color-main);
    background-color: rgba(0, 0, 0, 0);
}


input[type="file"] {
    width: 100%;
    cursor: pointer;
    font-size: large;

    border: 0px solid;
    border-bottom: 4px double var(--color-main);

    background-color: var(--color-background-2);
    color: var(--color-text);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

/*----------------*/
/*      Select    */
/*----------------*/
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

select::-ms-expand {
    display: none;
}

select {
    display: block;
    cursor: pointer;
    font-family: monospace;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0.1rem;

    border-color: var(--color-main);
    color: var(--color-text-button);
    border-top: 4px double var(--color-main);
    border-bottom: 4px double var(--color-main);
    background-color: var(--color-main);
    cursor: pointer;

    transition: 200ms ease;
    background-clip: padding-box;

    width: 100%;
}

select:hover {
    border-top: 4px double var(--color-background-2);
    border-bottom: 4px double var(--color-background-2);
    background-color: var(--color-background-2);
    color: var(--color-main);
}

select:focus {
    outline: none;
}

select:focus::-ms-value {
    background-color: transparent;
}

select optgroup {
    background-color: var(--color-background-2);
    color: var(--mainColor);
}

select option {
    color: var(--color-text);
    background-color: var(--color-background-2);
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-wrapper::before {
    font-family: fontello;
    content: "\25BC";
    font-size: 20px;
    position: absolute;
    right: 1rem;
    top: 25%;
    color: var(--color-text-button);
}

/*----------------*/
/*      Checkbox  */
/*----------------*/
input[type=checkbox].real-checkbox {
    display: none;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox and radio buttons */
.check-container input,
.button-group input[type=radio],
.image-button-group input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid var(--color-main);
    border-radius: 4px;
    background-color: var(--color-background-2);
    margin: 0;
}

/* On mouse-over, add a grey background color */
.check-container:hover input~.checkmark {}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
    border-bottom: 0px solid;
    background-color: var(--color-main);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 0.35rem;
    top: 0.01rem;
    width: 5px;
    height: 10px;
    border: solid var(--color-text);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*----------------*/
/*    Radio Buttons */
/*----------------*/
.button-group {
    display: flex;
    color: var(--color-main);
    background-color: var(--color-background-2);
    font-family: monospace;
}

.radio-container {
    display: block;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    transition: 400ms ease;

    border-bottom: 4px double var(--color-main);
    border-top: 4px double transparent;
    background-clip: padding-box;
}

.button-group input:checked+label {
    border-top: 4px double var(--color-main);
    background-color: var(--color-main);
    color: var(--color-text-button) !important;
}

.button-group input:disabled+label {
    border-top: 4px double transparent;
    background-color: transparent;
    color: var(--color-background-2);
    font-weight: bold;
}

/*-----------------------*/
/*    Loading Wheel      */
/*-----------------------*/
.multi-spinner-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
}

.multi-spinner {
    position: absolute;
    width: calc(100% - 9.9px);
    height: calc(100% - 9.9px);
    border: 5px solid transparent;
    border-top-color: var(--color-main);
    border-radius: 50%;
    -webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
    animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------*/
/*          Fancy Schmancy Inputs                         */
/*--------------------------------------------------------*/
.image-button-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: var(--color-text);
    font-family: monospace;
}

.image-button-group label{
    display: block;
    text-align: center;
    width: min-content;
    cursor: pointer;
}
.image-button-group div{
    width:100%;
}

.image-button-group label > img {
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
    margin: 0.25rem;
    border: 4px double transparent;
    object-fit: cover;
    /*float: right;*/
}

.image-button-group input:checked+label{
    font-weight: 700;
    color: var(--color-main);
}

.image-button-group input:checked+label img {
    border: 4px solid var(--color-main);
}

/*--------------------------------------------------------*/
/*          Fieldste Alignment                            */
/*--------------------------------------------------------*/
form.d-flex fieldset{
    flex-shrink: 2;
}